.nav-link,.navbar-brand{
    color:white;
    cursor: pointer;
}
.navbar{
    background-color: orange;
    
}
.btn{
    background-color: orange;
    color: green;
}
.btnBasket{
    background-color: white;
    color: black;
}
.nav-item:hover{
 background-color: #EC4B0D;
}